html, body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-stretch: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.invisible {
  display: none;
}
.visible {
  display: block;
}

.page-wrapper {
  height: 100%;
  position: relative;
  width: 100%;

  background: linear-gradient(150deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 6s ease infinite;
  -z-animation: rainbow 6s ease infinite;
  -o-animation: rainbow 6s ease infinite;
  animation: rainbow 6s ease infinite;
}
@-webkit-keyframes rainbow {
  0% { background-position: 0% 80% }
  50% { background-position: 100% 20% }
  100% { background-position: 0% 80% }
}
@-moz-keyframes rainbow {
  0% { background-position: 0% 80% }
  50% { background-position: 100% 20% }
  100% { background-position: 0% 80% }
}
@-o-keyframes rainbow {
  0% { background-position: 0% 80% }
  50% { background-position: 100% 20% }
  100% { background-position: 0% 80% }
}
@keyframes rainbow {
  0% { background-position :0% 80% }
  50% { background-position: 100% 20% }
  100% { background-position :0% 80% }
}

.welcome-message-container, .text-ver-hor-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.welcome-message {
  font-size: 32px;
  color: #ffffff;
}
.text-ver-hor-center {
  flex-direction: column;
  flex-wrap: wrap
}
.flex-child {
  margin: auto;
  margin-left: auto;
}
.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.custom-color-picker-note {
  margin-bottom: 10px;
}
.double-click-to-copy {
  margin-bottom: 30px;
}
.f32 {
  font-size: 32px;
}
.plus, .minus {
  cursor: pointer;
  display: inline-block;
  width: 90px;
  text-align: center;
}
